@media screen and (max-width: 991px){
  .sidebar-collapse .navbar-collapse:before {

    background: #000000;;
  }
  .navbar-nav .dropdown-menu {
    position: static !important;
  }
}

@media screen and (max-width: 768px){
  .nav-tabs {
    padding-left: 10px;
    padding-right: 10px;
  }
  .btn{
    padding: $padding-small-vertical $padding-small-horizontal;
    margin: 30px;

  }
}
