.clear-filter[filter-color="green"] {
  @include linear-gradient(rgba($black-color,.20), rgba(59, 178, 184, 0.966));
}
[data-background-color="green"]{
    background-color: $info-color;
}
.section-nucleo-icons .icons-container i:nth-child(6) {
  color: $info-color;
}
.page-header{
  &.page-header-small{
    min-height: 60vh;
    max-height: 640px;
  }
}
